<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61060337739-fi64giunvdj2pp9ro3ka0vicme3n6pvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61060337739-fi64giunvdj2pp9ro3ka0vicme3n6pvn</string>
	<key>API_KEY</key>
	<string>AIzaSyAGvaJddV_aCLGwwpYadzURlk0RWX7mIMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>61060337739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.debugs</string>
	<key>PROJECT_ID</key>
	<string>itdddastuff</string>
	<key>STORAGE_BUCKET</key>
	<string>itdddastuff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61060337739:ios:2dbbc84f5ff015316c3dce</string>
	<key>DATABASE_URL</key>
	<string>https://itdddastuff-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>